{% extends 'base.html' %}
{% import 'modals.html' as modals %}

{% block head %}
<script src="static/js/config.js"></script>
{% endblock %}

{% block content %}

<button type="button" class="btn btn-primary btn-space pull-right">
    Export
</button>
<button type="button" class="btn btn-primary btn-space pull-right">
    Import
</button>

<table class="col-sm-12">
<tbody>
<tr>
<td>
    <div class="col-sm-7">
    <h3>Teams</h3>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Subnet</th>
            <th>Netmask</th>
            <th></th>
        </thead>
        <tbody>
            {% for id, t in config['teams'].items() %}
            <tr>
                <td>{{ t.name }}</td>
                <td>{{ t.subnet }}</td>
                <td>{{ t.netmask }}</td>
                <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('team-modal') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ modals.add_button('team-modal') }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="col-sm-5">
    <h3>Domains</h3>
    <table class="table table-striped">
        <thead>
            <th>FQDN</th>
            <th></th>
        </thead>
        <tbody>
            {% for id, d in config['domains'].items() %}
            <tr>
                <td>{{ d.fqdn }}</td>
                <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('domain-modal') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>{{ modals.add_button('domain-modal') }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</td>
</tr>

<tr>
<td>
    <div class="col-sm-7">
    <h3>Web Users</h3>
    <table class="table table-striped">
        <thead>
            <th>Username</th>
            <th>Password</th>
            <th>Team</th>
            <th>Is Admin</th>
            <th></th>
        </thead>
        <tbody>
            {% for id, u in config['users'].items() %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.password }}</td>
                <td>
                {% if u.team in config['teams'] %}
                    {% with t=config['teams'][u.team] %}
                        {{ t.name }}
                    {% endwith %}
                {% endif %}
                </td>
                <td>{{ u.is_admin }}</td>
                <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('web-user-modal') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ modals.add_button('web-user-modal') }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="col-sm-5">
    <h3>Services</h3>
    <table class="table table-striped">
        <thead>
            <th>Host</th>
            <th>Port</th>
            <th></th>
        </thead>
        <tbody>
            {% for id, s in config['services'].items() %}
            <tr>
                <td>{{ s.host }}</td>
                <td>{{ s.port }}</td>
                <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('service-modal') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>{{ modals.add_button('service-modal') }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</td>
</tr>

<tr>
<td>
    <div class="col-sm-7">
    <h3>Checks</h3>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Check Function</th>
            <th>Poller</th>
            <th>Service</th>
            <th></th>
        </thead>
        <tbody>
            {% for id, c in config['checks'].items() %}
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.check_function }}</td>
                <td>{{ c.poller }}</td>
                {% with s=config['services'][c.service] %}
                <td>{{ "Host:%s, Port:%s"|format(s.host, s.port) }}</td>
                {% endwith %}
                <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('check-modal') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ modals.add_button('check-modal') }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="col-sm-5">
    <h3>Poll Inputs</h3>
    <table class="table table-striped">
        <thead>
            <th>Input Type</th>
            <th>Input</th>
            <th></th>
        </thead>
        <tbody>
            {% for id, i in config['inputs'].items() %}
            <tr>
                <td>{{ i.input_type }}</td>
                <td>{{ i.input }}</td>
                <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('input-modal') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>{{ modals.add_button('input-modal') }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</td>
</tr>

<tr>
    <td>
    <div class="col-sm-5">
        <h3>Check IOs</h3>
        <table class="table table-striped">
            <thead>
                <th>Check</th>
                <th>Input</th>
                <th>Expected Output</th>
                <th></th>
            </thead>
            <tbody>
                {% for id, c in config['check_ios'].items() %}
                <tr>
                    {% with ch=config['checks'][c.check] %}
                    <td>{{ ch.name }}</td>
                    {% endwith %}
                    {% with i=config['inputs'][c.input] %}
                    <td>{{ "%s:%s"|format(i.input_type, i.input) }}</td>
                    {% endwith %}
                    <td>{{ c.expected }}</td>
                    <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('checkio-modal') }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ modals.add_button('checkio-modal') }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-7">
        <h3>Credentials</h3>
        <table class="table table-striped">
            <thead>
                <th>Domain</th>
                <th>Username</th>
                <th>Password</th>
                <th>Check IOs</th>
                <th></th>
            </thead>
            <tbody>
                {% for id, c in config['credentials'].items() %}
                <tr>
                    <td>
                    {% if c.domain in config['domains'] %}
                        {% with d=config['domains'][c.domain] %}
                            {{ d.fqdn }}
                        {% endwith %}
                    {% endif %}
                    </td>
                    <td>{{ c.username }}</td>
                    <td>{{ c.password }}</td>
                    <td>
                        <ul>
                        {% for cio_id in c.check_ios %}
                            <li>
                            {% with %}
                                {% set cio=config['check_ios'][cio_id] %}                        
                                {% set input=config['inputs'][cio.input] %}
                                {{ "%s:%s->%s"|format(input.input_type, input.input, cio.expected) }}
                            {% endwith %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td class="btn-td">{{ modals.delete_button() }} {{ modals.edit_button('credential-modal') }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ modals.add_button('credential-modal') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </td>
</tr>
</tbody>
</table>

<button type="button" class="btn btn-primary btn-space pull-right">
    Apply Config
</button>

{{ modals.start('team-modal', 'Team') }}

{% if success %}
<div class="alert alert-success">
    Success!
</div>
{% endif %}

<form method="POST" action="{{ url_for('configuration') }}" id="team-form">
    {{ forms['team'].csrf_token }}
    <div class="form-group">
        {{ forms['team'].name.label }}
        {{ forms['team'].name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['team'].subnet.label }}
        {{ forms['team'].subnet(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['team'].netmask.label }}
        {{ forms['team'].netmask(class_="form-control") }}
    </div>
</form>
{{ modals.end('team') }}

{{ modals.start('domain-modal', 'Domain') }}
<form method="POST" action="{{ url_for('configuration') }}">
    {{ forms['domain'].csrf_token }}
    <div class="form-group">
        {{ forms['domain'].fqdn.label }}
        {{ forms['domain'].fqdn(class_="form-control") }}
    </div>
</form>
{{ modals.end() }}

{{ modals.start('web-user-modal', 'Web User') }}
<form method="POST" action="{{ url_for('configuration') }}">
    {{ forms['web-user'].csrf_token }}
    <div class="form-group">
        {{ forms['web-user'].username.label }}
        {{ forms['web-user'].username(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['web-user'].password.label }}
        {{ forms['web-user'].password(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['web-user'].team.label }}
        {{ forms['web-user'].team(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['web-user'].is_admin.label }}
        {{ forms['web-user'].is_admin(class_="form-control") }}
    </div>
</form>
{{ modals.end() }}

{{ modals.start('service-modal', 'Service') }}
<form method="POST" action="{{ url_for('configuration') }}">
    <div class="form-group">
        {{ forms['service'].host.label }}
        {{ forms['service'].host(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['service'].port.label }}
        {{ forms['service'].port(class_="form-control") }}
    </div>
</form>
{{ modals.end() }}

{{ modals.start('check-modal', 'Check') }}
<form method="POST" action="{{ url_for('configuration') }}">
    <div class="form-group">
        {{ forms['check'].name.label }}
        {{ forms['check'].name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['check'].check_function.label }}
        {{ forms['check'].check_function(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['check'].poller.label }}
        {{ forms['check'].poller(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['check'].service.label }}
        {{ forms['check'].service(class_="form-control") }}
    </div>
</form>
{{ modals.end() }}

{{ modals.start('input-modal', 'Poll Input') }}
<form method="POST" action="{{ url_for('configuration') }}">
    <div class="form-group">
        {{ forms['input'].input_type.label }}
        {{ forms['input'].input_type(class_="form-control") }}
    </div>
</form>
{{ modals.end() }}

{{ modals.start('checkio-modal', 'Check IO') }}
<form method="POST" action="{{ url_for('configuration') }}">
     <div class="form-group">
        {{ forms['checkio'].check.label }}
        {{ forms['checkio'].check(class_="form-control") }}
    </div>
     <div class="form-group">
        {{ forms['checkio'].input.label }}
        {{ forms['checkio'].input(class_="form-control") }}
    </div>
</form>
{{ modals.end() }}

{{ modals.start('credential-modal', 'Credential') }}
<form method="POST" action="{{ url_for('configuration') }}">
    <div class="form-group">
        {{ forms['credential'].domain.label }}
        {{ forms['credential'].domain(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['credential'].username.label }}
        {{ forms['credential'].username(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['credential'].password.label }}
        {{ forms['credential'].password(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ forms['credential'].check_ios.label }}
        {{ forms['credential'].check_ios(class_="form-control") }}
    </div>
</form>
{{ modals.end() }}

{% endblock %}
